*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}
.fundo{
    width: 100%;
    height: 100vh;
    background-color: rgb(207, 171, 171);
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    display: flex;
}

.checkbox{
    display: none;
  }

.caixa-central {
    background-color: #cc6699;
    width: 500px;
    height: 500px;
    display: grid;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
}


.linhas{
    width: 300px;
    height: 50px;
    position: flex;
    border-radius: 15px;
    background-color: rgb(218, 216, 216);
    justify-content: center;
    cursor: pointer;
    align-items: center;
    top: 26px;
}


.label{
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.linhas:hover{
    width: 300px;
    height: 200px;
}

